* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0f172a, #111827);
  color: white;
  min-height: 100vh;
  transition: 0.4s;
}

.container {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  height: 100vh;
  padding: 30px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid rgba(255,255,255,0.1);
}

.logo {
  font-size: 32px;
  margin-bottom: 40px;
}

.menu {
  list-style: none;
}

.menu li {
  padding: 15px 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  transition: 0.3s;
  cursor: pointer;
}

.menu li:hover {
  background: rgba(255,255,255,0.1);
  transform: translateX(5px);
}

#themeBtn {
  padding: 14px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

/* MAIN */
.main-content {
  flex: 1;
  padding: 30px;
}

.glass {
  background: rgba(255,255,255,0.08);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 22px;
}

.top-section {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.clock-box h1 {
  font-size: 42px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
}

.card {
  padding: 20px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255,255,255,0.06);
}